@charset "UTF-8";

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 0px;
}

header>nav {
    background-color: rgb(44, 43, 43);
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

header nav a {
    text-decoration: none;
    color: white;
    margin: 0px 0px 5px 0px;
    padding: 1rem;
    border-radius: 5px;
    transition-duration: 0.5s;
    text-decoration: none;
    font-size: 14px;
    width: 100%;
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a.logo:hover {
    background-color: unset;
    color: unset;

}

header a:hover {
    background-color: white;
    color: black;
}

header img {
    margin: 0px;
}

main {
    background-color: white;
    min-width: 300px;
    margin: 0 2rem;
    margin-bottom: 30px;
    ;
    font-family: "Montserrat";
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,800;1,100;1,300;1,400;1,500;1,800&display=swap');
}


main>nav {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;

}

main nav a {
    margin: 0px;
    padding: 1rem;
}

main h1 {
    text-align: center;

    font-size: 2.5rem;
    ;
}

main h2 {
    text-align: center;
    color: #A68C5D;
    margin: 0px;

}

main h3 {
    text-align: center;
    font-weight: normal;
}

main h4 {
    font-weight: lighter;
    margin: 0px;
    text-align: center;
}

main h5 {
    font-size: 20px;
    color: #A68C5D;
    margin-top: 16px;
    margin-bottom: 16px;
}

main p {
    text-align: justify;
    text-indent: 40px;
 padding-left: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

main a {
    text-decoration: none;
    color: black;
    font-family: "Montserrat";
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,800;1,100;1,300;1,400;1,500;1,800&display=swap');
    font-size: 20px;

}

main a:hover {
    text-decoration: underline;
    color: #A68C5D;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

article {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 4rem;
    width: 100%;
}

article div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

aside>a {
    font-size: 16px;
    margin-top: 50px;
}

main img {
    width: 100%;
    border-radius: 0.5rem;
    max-width: 34rem;
}
div p {
    margin-right: 30px;
    margin-left: 16px;
}

.banner {
    max-width: 100%;
    margin-bottom: 2rem;
}

.botao{
    display: block;
    border: solid black;
}


@media screen and (max-width: 770px) {
    nav {
        flex-direction: column;
        align-items: center;
        gap: none;
    }

    header nav {
        gap: unset;
        padding-bottom: 0;
    }

    header nav a {
        max-width: none;
    }

    article {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}